---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
const releases = await getCollection("releases");

// Separate the pinned release
const pinnedRelease = releases.find((r) => r.data.title.toLowerCase() === "doof for life");
const regularReleases = releases.filter((r) => r.data.title.toLowerCase() !== "doof for life");

const sortedReleases = regularReleases.sort((a, b) =>
	a.data.title.localeCompare(b.data.title),
);
---

<div class="releases">
	<div class="releases__bar"></div>
	<div class="releases__bar releases__bar--bottom"></div>
	<ul style="text-transform: uppercase;" class="releases__list">
		{
			// Sorting items alphabetically by title

			sortedReleases.reverse().map((release, index) => (
				<li
					data-image={release.data.cover.src}
					class={
						index === 0
							? "releases__item  releases__item--active"
							: "releases__item"
					}
				>
					<div class="releases__item-title">{release.data.title}</div>
					<a class="link" href={release.data.link}>LINK&nbsp;>></a>
				</li>
			))
		}
		{
			// Pinned release at the bottom
			pinnedRelease && (
				<li
					data-image={pinnedRelease.data.cover.src}
					class="releases__item releases__item--pinned"
				>
					<div class="releases__item-title">{pinnedRelease.data.title}</div>
					<a class="link" href={pinnedRelease.data.link}>LINK&nbsp;>></a>
				</li>
			)
		}
	</ul>
</div>

<div class="release-preview">
	<div class="release-preview__inner">
		<div class="release-preview__image-container">
			<Image
				id="previewImage"
				width="800"
				src={sortedReleases[0].data.cover}
				alt="Release"
			/>
		</div>
	</div>
</div>

<style lang="scss">
	.link {
		text-decoration: none;
		font-family: var(--dot-font);
		color: var(--blue);
	}
	.releases {
		font-family: var(--dot-font);
		position: absolute;
		top: 0;
		background-color: var(--grey);
		width: 100%;
		color: black;
		min-height: 150vh;
		box-sizing: border-box;
		padding-bottom: 60vh;
		// &__header {
		// 	padding: 20px;
		// 	border-bottom: 1px solid #333;
		// 	width: 100%;
		// 	display: flex;
		// 	justify-content: space-between;
		// 	position: fixed;
		// 	top: 0;
		// 	background-color: var(--white);
		// }
		&__bar {
			position: fixed;
			display:none;
			height: 60px;
			background-color: var(--grey);
			top: 0;
			width: 100%;
			&--bottom {
				top: auto;
				bottom: 0;
			}
		}
		&__list {
			list-style: none;
			padding: 0;
			margin: 0;
			padding-top: 0;
			padding-bottom: 400px;
			overflow: scroll;
			height: 80vh;
		}
		&__item {
			display: flex;
			justify-content: space-between;
			width: 100%;
			padding: 20px;
			font-size: 14px;
			color: var(--blue);
			&--active {
				color: var(--black);
				a{
					color: var(--black);
				}
			}
			&--last {
				margin-bottom: 40px;
			}
			&-title {
				padding-right: 15%;
			}
			&:hover {
				cursor: pointer;
				color: var(--black);
				a{
					color: var(--black);}
			}
		}
	}
	.release-preview {
		position: fixed;
		width: 100%;
		bottom: 0;
		background-color: var(--background);
		&__inner {
			padding: 10px;
			padding-bottom: 50px;
		}
		&__image-container {
			width: 100%;
			height: 0;
			padding-top: 100%;
			position: relative;
			img {
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}

	@media screen and (min-width: 600px) {
		.release-preview {
			&__image-container {
				padding-top: 0;
				height: 50vh;
			}
		}
	}

	@media screen and (min-width: 900px) {
		.releases {
			height: 100%;
			min-height: 100%;
			width: 50%;
			margin-left: auto;
			position: fixed;
			right: 0;
			padding-top: 0;
			overflow: scroll;
			padding-bottom: 0;

			z-index: 101;
			&__header {
				position: fixed;
				top: 70px;
			}
			&__bar {
				display: block;
			}
			&__list {
				padding-top: 58px;
				min-height: 120vh;
				overflow: scroll;
			}
		}

		.release-preview {
			width: 50%;
			height: 100%;
			&__inner {
				width: 100%;
				height: 100%;
				padding: 100px;
			}
			&__image-container {
				height: 100%;
			}
		}
	}
</style>

<script>
	const items = document.querySelectorAll(".releases__item");
	const previewImage = document.querySelector("#previewImage");

	const toggle = (item) => {
		item.addEventListener("click", (e) => {
			item.classList.toggle("releases__item--active");
			let image = item.dataset.image;
			previewImage.src = image;
			for (var i = 0; i < items.length; i++) {
				if (e.currentTarget != items[i]) {
					items[i].classList.remove("releases__item--active");
				}
			}
		});
	};

	items.forEach(toggle);
</script>
